<div class="container mt-5">
    <h1 class="text-center mb-4">Detalles del Auto</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Placa</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Costo por Día</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.autos.idauto</td>
                <td>@ViewBag.autos.Marca</td>
                <td>@ViewBag.autos.Modelo</td>
                <td>@ViewBag.autos.Placa</td>
                <td>@ViewBag.autos.Tipo</td>
                <td>@ViewBag.autos.Estado </td>
                <td>@ViewBag.autos.Costo_dia</td>
            </tr>
        </tbody>
    </table>
</div>


<style>
    body {
        background-image: url('https://i.ibb.co/jDHk8gH/Tarjeta-Felicitaci-n-de-Graduaci-n-Ilustrado-Azul-1.png');
        background-size: cover; /* Hace que la imagen cubra toda la pantalla */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center; /* Centra la imagen en la pantalla */
        background-attachment: fixed; /* Hace que la imagen no se mueva al hacer scroll */
    }

    .container {
        border-radius: 10px; /* Bordes redondeados */
        padding: 20px;
        margin-top: 80px;
        background-color: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
        backdrop-filter: blur(10px); /* Desenfoque aplicado al fondo detrás del contenedor */
        color: white;
    }

    .table {
        color: white;
    }
</style>
